.DS_Store
*.un~

fish_history
fishd.*
fish/fish_plugins

fish/completions

fish/local.fish
fish/fish_variables
fish/conf.d

fish/functions/*
!fish/functions/die.fish
!fish/functions/fish_*.fish
!fish/functions/l.fish
!fish/functions/la.fish
!fish/functions/rimraf.fish
!fish/functions/z.fish
!fish/functions/zet.fish

bin/ngrok
