"*":
  editor:
    invisibles: {}
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    undoGroupingInterval: 200
    scrollPastEnd: true
    preferredLineLength: 100
    fontFamily: "Fantasque Sans Mono"
    nonWordCharacters: "_- :;\"“”‘’{}[]()!?.,|\\/!@#$%^&*+=<>'"
    softWrapHangingIndent: 2
    autoIndentOnPaste: false
    fontSize: 16
    lineHeight: 1.3
  core:
    themes: [
      "one-dark-ui"
      "solarized-light-syntax"
    ]
    disabledPackages: [
      "background-tips"
      "symbols-view"
      "deprecation-cop"
      "linter-rubocop"
    ]
    destroyEmptyPanes: false
  linter:
    lintOnChange: false
    lintDebug: true
    subtleLinterErrors: [
      "jshint"
      "haml-lint"
    ]
    showErrorPanel: false
  "autocomplete-plus":
    confirmCompletion: "tab"
  "exception-reporting":
    userId: "f0de6421-4e72-fc88-c804-4f31a41554cf"
  welcome:
    showOnStartup: false
  "vim-surround": {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  minimap:
    plugins:
      "git-diff": true
  "linter-rubocop":
    executablePath: "/Users/george.gritsouk/.rbenv/shims/rubocop"
  "linter-jshint":
    jshintExecutablePath: "/usr/local/bin/jshint"
  "linter-haml-lint":
    hamlLintExecutablePath: "/Users/george.gritsouk/.rbenv/versions/2.2.1/bin/haml-lint"
  "atom-ctags": {}
  "symbols-view":
    useEditorGrammarAsCtagsLanguage: false
  autosave:
    enabled: true
  "linter-less":
    includePath: [
      "/Users/george.gritsouk/Code/drupal/sites/all/themes/custom/mercatus_theme/less/"
    ]
  "relative-line-numbers":
    showNormalLineNumbers: false
  "one-dark-ui":
    layoutMode: "Compact"
  emmet:
    useEmmetComments: false
  "linter-haml": {}
  "cursor-history": {}
".html.php.text":
  editor:
    preferredLineLength: 100
".erb.html.text":
  editor:
    nonWordCharacters: "_- :;\"“”‘’{}[]()!?.,|\\/!@#$%^&*+="
    preferredLineLength: 100
".ini.source":
  editor:
    preferredLineLength: 100
".hamlc.text":
  editor:
    preferredLineLength: 100
    softWrap: false
    softWrapAtPreferredLineLength: false
".haml.text":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: false
    preferredLineLength: 120
".ruby.source":
  editor:
    nonWordCharacters: "_- :;\"“”‘’{}[]()!?.,|\\/!@#$%^&*+="
    preferredLineLength: 100
